body {
    background: url(http://thekitemap.com/images/feedback-img.jpg) no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#728e9f;
    z-index: 2;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    /* border-right: 1px solid #bbb;*/
}

#nav1 {
    font-family: "Segoe UI,Arial,sans-serif";
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:16px
}

li a:hover {
    background-color: #111;
}

.logo {
    border-spacing: 0px;
    background-color: white;
    width: 100%;
}

.copyrights {
    overflow: hidden;
    background-color: #5f5f5f;
    width: 100%;
    color: white;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


/* Set a style for all buttons */

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}


/* Extra styles for the cancel button */

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


/* Center the image and position the close button */

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 10%;
    height: 10%;
    border-radius: 50%;
}

.container {
    width: 10%;
    padding: 16px;
}

main.my {
    padding: 16px;
    width: 100%;
}

.my {
    padding: 16px;
    /*width: 100%;*/
}

span.psw {
    float: right;
    padding-top: 16px;
}


/* The Modal (background) */

.modal1 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
    z-index: 50;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button (x) */

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

#pre {
    background-color: #5f5f5f;
    border: none;
}

#room_booking {
    font-size: 4em;
    line-height: 1.5em;
    margin: 5px;
    text-align: right;
    color: #333;
    font-family: "Times new roman";
}

#form {
    margin: 50px 300px;
    background-color: white;
    padding: 20px;
}

#form textarea {
    width: 100%;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
#feedback-page {
    text-align: center;
}

#form-main {
    width: 100%;
    float: left;
    padding-top: 0px;
}

#form-div {
    background-color: rgba(72, 72, 72, 0.4);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    float: left;
    left: 50%;
    margin-top: 30px;
    margin-left: 475px;
    margin-bottom: 30px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

#form-div1 {
    background-color: rgba(72, 72, 72, 0.4);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 600px;
    float: left;
    left: 50%;
    margin-top: 30px;
    margin-left: 320px;
    margin-bottom: 30px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.feedback-input1 {
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input1:focus {
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #000000;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused {
    color: #30aed6;
    border: #30aed6 solid 3px;
}


/* Icons ---------------------------------- */

#name {
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
    padding-left: 46px;
}

#name:focus {
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
    padding-left: 46px;
}

#email:focus {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#comment {
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
    padding-left: 46px;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    background-color: white;
}

#button-blue {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float: left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: #30aed6;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

#button-blue:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #333;
}

#button-blue2 {
    background-color:#30aed6; /* Green */
    width: 24%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#button-blue1 {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 25%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: #30aed6;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}

#button-blue1:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #333;
}

.submit:hover {
    color: #333;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease {
    width: 100%;
    background-color: white;
}


@media only screen and (max-width: 580px) {
    #form-div {
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}


.gil-container {
  position: relative;
  width: 100%;
}

.gil-image {
  display: block;
  width: 400px;
  height: auto;
}

.gil-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.gil-container:hover .gil-overlay {
  width: 400px;
}

.gil-text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.gic-container {
  position: relative;
  width: 80%;
}

.gic-image {
  display: block;
  width: 400px;
  height: auto;
}

.gic-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 255px;
  width: 400px;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.gic-container:hover .gic-overlay {
  opacity: 1;
}

.gic-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.gir-container {
  position: relative;
  width: 80%;
}

.gir-image {
  display: block;
  width: 400px;
  height: auto;
}

.gir-overlay {
  position: absolute;
  bottom: 0;
  left: 400px;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.gir-container:hover .gir-overlay {
  width: 400px;
  left: 0;
}

.gir-text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.git-container {
  position: relative;
  width: 50%;
}

.git-image {
  display: block;
  width: 400px;
  height: auto;
}

.git-overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 400px;
  height:0;
  transition: .5s ease;
}

.git-container:hover .git-overlay {
  bottom: 0;
  height: 100%;
}

.git-text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.gib-container {
  position: relative;
  width: 50%;
}

.gib-image {
  display: block;
  width: 400px;
  height: auto;
}

.gib-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 400px;
  height: 0;
  transition: .5s ease;
}

.gib-container:hover .gib-overlay {
  height: 100%;
}

.gib-text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
